.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  overflow: hidden;
}

.overlayLayerTwo {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

.overlayVisible {
  // visibility: none;
  display: block;
}

.overlayCard {
  position: absolute;
  height: 500px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 2;
  cursor: default;

  .overlayCardImg {
    display: block;
    margin: 0;
    padding: 0;
    max-height: 300px;
    max-width: 600px;
    border-radius: 10px 10px 0px 0px;
  }

  .overlayCardInfo {
    max-height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;

    .overlayCardInfoHeader {
      h3 {
        margin: 0;
      }
    }

    .overlayCardInfoBody {
      span {
        margin: 10px 0;
      }

      p {
        margin: 0;
      }
    }

    .overlayCardInfoFooter {
      justify-content: end;

      .countButton {
        color: rgb(0, 0, 0);
        font-weight: 700;
        font-size: 15px;
        background: #ffffff00;
        border: 1px solid #787878;
        border-radius: 40px;
        width: 100px;
        height: 45px;
        margin-right: 15px;

        .enableButton {
          cursor: pointer;
        }

        .disableButton {
          filter: invert(50%) sepia(1%) saturate(0%) hue-rotate(85deg) brightness(93%) contrast(84%);
          cursor: default;
        }
      }

      .bigAddButton {
        color: white;
        font-weight: 700;
        font-size: 15px;
        background: #df1111;
        border-radius: 40px;
        border: 0;
        width: 175px;
        height: 50px;
        cursor: pointer;
      }
    }
  }
  .addButton {
    color: white;
    font-weight: 700;
    background: #df1111;
    border-radius: 40px;
    border: 0;
    width: 60px;
    height: 30px;
    cursor: pointer;
  }
}

.card {
  margin: 30px 0 0 0;
  width: 300px;
  height: 250px;
  cursor: pointer;

  img {
    border-radius: 10px;
  }

  h4 {
    margin: 20px 0 10px 0;
  }

  .addButton {
    color: white;
    font-weight: 700;
    background: #df1111;
    border-radius: 40px;
    border: 0;
    width: 60px;
    height: 30px;
    cursor: pointer;
  }
}
